In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv("data/data.csv")

In [3]:
data.shape

(120, 7)

In [4]:
data.head(10)

   temp nausea lumbar_pain cot_urination micturition_pain burning desc
0  35.5     no         yes            no               no      no   no
1  35.9     no          no           yes              yes     yes  yes
2  35.9     no         yes            no               no      no   no
3  36.0     no          no           yes              yes     yes  yes
4  36.0     no         yes            no               no      no   no
5  36.0     no         yes            no               no      no   no
6  36.2     no          no           yes              yes     yes  yes
7  36.2     no         yes            no               no      no   no
8  36.3     no          no           yes              yes     yes  yes
9  36.6     no          no           yes              yes     yes  yes

In [5]:
data.describe()

             temp
count  120.000000
mean    38.724167
std      1.819132
min     35.500000
25%     37.100000
50%     37.950000
75%     40.600000
max     41.500000

In [6]:
data.tail()

     temp nausea lumbar_pain cot_urination micturition_pain burning desc
115  41.4     no         yes           yes               no     yes   no
116  41.5     no          no            no               no      no   no
117  41.5    yes         yes            no              yes      no   no
118  41.5     no         yes           yes               no     yes   no
119  41.5     no         yes           yes               no     yes   no

In [7]:
data.columns.values

array(['temp', 'nausea', 'lumbar_pain', 'cot_urination',
       'micturition_pain', 'burning', 'desc'], dtype=object)

In [8]:
data[['desc','temp']].groupby(['desc'],as_index=False).mean()

  desc       temp
0   no  39.145902
1  yes  38.288136

In [9]:
data['desc']=data['desc'].map({'no': 1, 'yes':2}) #2-inflamation of urinary bladder
                                                  #1-nephritis of renal pelvis

In [10]:
data.head()

   temp nausea lumbar_pain cot_urination micturition_pain burning  desc
0  35.5     no         yes            no               no      no     1
1  35.9     no          no           yes              yes     yes     2
2  35.9     no         yes            no               no      no     1
3  36.0     no          no           yes              yes     yes     2
4  36.0     no         yes            no               no      no     1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
temp                120 non-null float64
nausea              120 non-null object
lumbar_pain         120 non-null object
cot_urination       120 non-null object
micturition_pain    120 non-null object
burning             120 non-null object
desc                120 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 6.6+ KB

In [12]:
data['nausea']=data['nausea'].map({'no': 0, 'yes':1})
data['lumbar_pain']=data['lumbar_pain'].map({'no': 0, 'yes':1})
data['cot_urination']=data['cot_urination'].map({'no': 0, 'yes':1})
data['micturition_pain']=data['micturition_pain'].map({'no': 0, 'yes':1})
data['burning']=data['burning'].map({'no': 0, 'yes':1})

In [13]:
data.head()

   temp  nausea  lumbar_pain  cot_urination  micturition_pain  burning  desc
0  35.5       0            1              0                 0        0     1
1  35.9       0            0              1                 1        1     2
2  35.9       0            1              0                 0        0     1
3  36.0       0            0              1                 1        1     2
4  36.0       0            1              0                 0        0     1

In [14]:
data['desc'].value_counts()

1    61
2    59
Name: desc, dtype: int64

In [25]:
X_train, X_test, y_train, y_test = train_test_split(data.drop("desc", axis=1), data["desc"], test_size=0.3, random_state=0)

In [26]:
X_test.shape, X_train.shape

((36, 6), (84, 6))

In [27]:
y_test.shape, y_train.shape

((36,), (84,))

In [28]:
y_test.head()

48    2
94    1
95    1
8     2
97    1
Name: desc, dtype: int64

In [29]:
clf = LogisticRegression().fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [ ]:
clf = SVC().fit(x_train, y_train)
clf.score(x_test, y_test)